<?xml version='1.0' encoding='utf-8'?>
<widget id="com.arcgis.phonegap" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HelloWorld</name>
    <description>
        Sample ArcGIS map that work with PhoneGap and Cordova
    </description>
    <author email="agup@esri.com" href="http://developers.arcgis.com">
        Developer Evangelist Team
    </author>
    <content src="index_basicmap.html" />
    <access origin="*" />
</widget>